<div class="wrapper-info container clearfix">
	<div class="col_7">
		<div class="footer-logo">
			<a href="#" class="logo">
				<img src="../img/logo-main.svg" alt="Logo">
			</a>
		</div>
		<div class="wrapper__footer-address">
			<div class="footer-address">
				<p>+1 323 690 7705</p>
				<p>hello@wandr.studio</p>
			</div>
			<div class="footer-address">
				<p>12655 W Jefferson Bivd</p>
				<p>Los Angeles, CA 90066</p>
			</div>
		</div>
	</div>
	<div class="col_5">
		<nav class="social-link">
			<ul>
				<li>
					<a href="https://www.facebook.com/wandrstudio" target="_blank" class="social-link__icons">
						<i class="icons-socials icons-fb"></i>
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/company/wandrstudio/" target="_blank" class="social-link__icons">
						<i class="icons-socials icons-in"></i>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/wandrstudio/" target="_blank" class="social-link__icons">
						<i class="icons-socials icons-instagram"></i>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/wandrstudio" target="_blank" class="social-link__icons">
						<i class="icons-socials icons-twitter"></i>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="wrapper-copyright container">
	<p>© Wandr Studio 2018 All Rights Reserved</p>
</div> 