<header class="header">

	<div class="bg-header">
		<span class="overlay-one"></span>
		<span class="overlay-two"></span>
		<span class="phone-person"></span>
	</div>

	//= top-line.html

	<div class="content-header">
		<div class="container wrapper__bg-dotted">
			<div class="bg-dotted"></div>
			<div class="content-header__main">
				<h1>
					From Startup Idea <br>
					to Solid Head Start
				</h1>
				<p>
					We'll test, design, test, & budget your product concept with industry experts in only 4 weeks.
				</p>
				<div class="button-wrapper">
					<a href="#" class="default-button brilliant">Download Free Checklist</a>
					<a href="#" class="default-button white-button">Schedule a Call</a>
				</div>
			</div>
		</div>
	</div>

</header>