<div class="top-line">
		<div class="container clearfix">
			<div class="col_3">
				<a href="#" class="logo">
					<img src="../img/logo-main.svg" alt="Logo">
				</a>
			</div>
			<div class="col_9">
				<nav class="social-link">
					<ul>
						<li>
							<a href="https://www.facebook.com/wandrstudio" target="_blank" class="social-link__icons">
								<i class="icons-socials icons-fb"></i>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/wandrstudio/" target="_blank" class="social-link__icons">
								<i class="icons-socials icons-in"></i>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/wandrstudio/" target="_blank" class="social-link__icons">
								<i class="icons-socials icons-instagram"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/wandrstudio" target="_blank" class="social-link__icons">
								<i class="icons-socials icons-twitter"></i>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>